@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

body {
    font-family: "Noto Sans KR", sans-serif;
    background: white;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    word-break: keep-all;
}

header article {
    width: 100%;
}

.header_fixed {
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    background: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}

/* iframe {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    max-height: 250px;
} */

iframe { 
    margin-top: 150px;
    width: 100%; 
    height: 100vh; 
    border: 0px 
    solid #ccc; 
    border-radius: 5px; 
    padding: none; 
}  

.article_menu {
    margin-top: 5px;
    margin-bottom: 0px;
}

.article_menu div {
    padding-top: 7px;
    padding-bottom: 7px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    font-weight: bold;
}

.article_menu .div_submenu {
    border-top: none !important;
    font-weight: normal !important;
    padding-bottom: -5px;
}

.article_menu span {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.article_menu .div_mainmenu .link_selected {
    color: black;
    background-color: lightgray;
    border-bottom: 3px solid black;
}

.article_menu .div_submenu .link_selected {
    border-bottom: 4px solid black;
}

.article_menu a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}


.article_menu a:hover {
    /* padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px; */
    color: white;
    text-decoration: none;
    background-color: black;
    animation: article_menu_a_fill 1.2s;
}

@keyframes article_menu_a_fill {
    from { color: black; background-color: white; }
    to { color: white; background-color: black; }
}

section {
    color: black;
    text-align: center;
    opacity: 0;
    transform: translate(0px, 20px);
    transition: all 0.45s;
}

section article {
    text-align: left;
}

section article h1 {
    padding-top: 15px;
    font-size: x-large;
    /* margin-bottom: 15px; */
}


section article .h1_big {
    font-size: xx-large;
}

section article h2 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: medium;
}

section article div {
    line-height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

section article .span_description {
    font-family: "Noto Serif KR", sans-serif;
}

section article .div_bible {
    margin-top: 15px;
    font-style: italic;
}

section article .span_title {
    font-weight: bold;
    margin-right: 15px;
}

section article .link_inline {
    font-weight: normal;
    color: black;
    background-color: lightgray;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;

    border-bottom: 1px dotted black;
    
    text-decoration: none;
}

section article .link_inline:hover {
    font-weight: bold;
    color: white;
    background-color: black;
    text-decoration: none;
}

section article .img_people {
    width: 100%;
    max-width: 150px;
    padding: 0px;
    margin: 0px;
}

.div_links div {
    padding-top: 15px;
    padding-bottom: 15px;
}



.div_links a {
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
}

.div_links a:hover {
    padding: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    text-decoration: none;
    animation: div_links_a_fill 0.43s;
}

.div_links a img {
    padding: 5px !important;
    margin: 0px !important;
    margin-right: 15px !important;
    width: 25px !important;
    height: 25px !important;
    background-color: gray;
}

.div_links a:hover .youtube{
    background-color: #FF0000;
}

.div_links a:hover .facebook{
    background-color: #1877F2;
}

.div_links a:hover .cafe{
    background-color: #ED3E49;
}

.div_history_title {
    font-weight: bold;
}

.div_history_description {
    margin-bottom: 8px;
}


@keyframes div_links_a_fill {
    from { color: black; background-color: white; }
    to { color: white; background-color: black; }
}

footer {
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

footer h1{
    padding: 2px;
    padding-top: 10px;
    border-top: 1px solid black;
    font-size: large;
}

footer div {
    padding: 2px;
    /* margin-bottom: 2px; */
    font-size: small;
}

footer div span {
    font-weight: bold;
}

footer a {
    background-color: white;
    color: black;
    text-decoration: underline;
}

footer a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
    animation: footer_a_fill 0.43s;
}


@keyframes footer_a_fill {
    from { color: black; background-color: white; }
    to { color: white; background-color: black; }
}


@media screen and (min-width: 240px) and (max-width: 950px) {
    .article_logo {
        text-align: center;
    }

    .img_logo {
        width: 150px;
        margin-top: 5px;
    }
    
    .article_menu div {
        text-align: center;
    }

    .article_menu .div_submenu {
        padding-top: 10px;
        font-size: small;
    }

    section {
        padding-top: 150px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section_container article {
        width: 100%;
    }
    
    .section_container img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .section_container h1{
        padding: 15px;
    }

    .section_container h2{
        padding: 15px;
    }

    .section_container div{
        padding-left: 15px;
        padding-right: 15px;
    }

    .article_left h1{
        border-top: 3px solid black;
    }

    .article_right h1{
        border-top: 0px solid black;
    }
    
}

@media (min-width: 950px) {
    .article_logo {
        text-align: center;
    }

    .img_logo {
        width: 210px;
        margin-top: 5px;
        padding: 5px;
    }

    .article_menu div {
        text-align: center;
    }

    .article_menu span {
        padding-left: 13px !important;
        padding-right: 13px !important;
        font-size: large;
    }

    .article_menu .div_submenu span {
        font-size: larger !important;
    }

    section {
        padding-top: 150px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section_container {
        display: flex;
    }

    .section_container img {
        width: 100%;
        max-height: 400px;
        height: 100%;
        padding: 20px;
        object-fit: cover;
    }

    .section_container h1{
        border-top: 3px solid black;
    }

    .article_left {
        width: 40%;
        padding-right: 25px;
    }

    .article_right {
        width: 60%;
        padding-left: 25px;
    }

    .div_links {
        display: flex;
    }
    .div_links div {
        margin-right: 15px;
    }
}