section article .img_news img {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

@media screen and (min-width: 240px) and (max-width: 950px) {
    .article_news {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}

@media (min-width: 950px) {
    .article_news {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}