@media screen and (min-width: 240px) and (max-width: 950px) {
    section article .div_history_photo {
        position: relative;
        padding-left: 0;
        padding-right: 0;

        width: 100%;
        overflow-x: auto;

        display: flex;
        justify-content: flex-start;
    }

    section article .img_history {
        padding: 0px !important;
        margin-right: 4px !important;

        width: 240px !important;
        /* height: 153px !important; */

    }

    section article .img_history img {
        padding: 0 !important;
        margin: 0 !important;

        width: 240px !important;
        height: 153px !important;
    }
}

@media (min-width: 950px) {
    section article .div_history_photo {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }

    section article .img_history {
        /* position: absolute; */
        opacity: 0.85;
        width: 65%;
        filter: grayscale();
        /* transform: translate(50%, 0%); */
        animation-name: img_cover_smaller;
        animation-duration: 0.2s;
    }

    section article .img_history:hover {
        opacity: 1.0;
        width: 65%;
        filter: none;
        transform: translate(5%, 0%);
        animation-name: img_cover_bigger;
        animation-duration: 0.2s;
    }

    section article .img_history img {
        padding: 0 !important;
    }

    @keyframes img_cover_smaller {
        from {
            width: 65%;
            filter: none;
            transform: translate(5%, 0%);
        }
        to {
            width: 65%;
            filter: grayscale();
            transform: translate(0%, 0%);
        }
    }

    @keyframes img_cover_bigger {
        from {
            width: 65%;
            filter: grayscale();
            transform: translate(0%, 0%);
        }
        to {
            width: 65%;
            filter: none;
            transform: translate(5%, 0%);
        }
    }
}