section article .img_faithbook img {
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
}

@media screen and (min-width: 240px) and (max-width: 950px) {
    section article .h1_faithbook {
        display: none;
    }    
}