<article class="article_logo">
    <a href="index.html">
        <img class="img_logo" src="image/logo.png" alt="벙커1교회 로고" />
    </a>
</article>
<article class="article_menu">
    <div class="div_mainmenu">
        <span>
            <a href="index.html">홈</a>
        </span>
        <span>
            <a href="about.html">교회소개</a>
        </span>
        <span>
            <a class="link_selected" href="service.html">예배</a>
        </span>
        <span>
            <a href="sermons.html">설교</a>
        </span>
        <span>
            <a href="news.html">소식</a>
        </span>
        <span>
            <a href="media.html">미디어</a>
        </span>
    </div>
</article>