<article class="article_logo">
    <a href="index.html">
        <img class="img_logo" src="image/logo.jpg" alt="벙커1교회 로고" />
    </a>
</article>
<article class="article_menu">
    <div>
        <span>
            <a href="index.html">홈</a>
        </span>
        <span>
            <a class="link_selected" href="about.html">교회소개</a>
        </span>
        <span>
            <a href="index.html#service">예배</a>
        </span>
        <span>
            <a href="index.html#notice">소식</a>
        </span>
        <span>
            <a href="index.html#media">미디어</a>
        </span>
    </div>
    <div class="div_submenu">
        <span>
            <a href="about.html">벙커1교회는</a>
        </span>
        <span>
            <a href="history.html">연혁</a>
        </span>
        <span>
            <a href="people.html">섬기는 이들</a>
        </span>
        <span>
            <a href="contacts.html">연락처</a>
        </span>
    </div>
</article>