    <div class="img_news">
        <img sea-att="src" sea-att-val="news_image_url_1" alt="주보 1면 표지"/>
    </div>
    <div class="img_news">
        <img sea-att="src" sea-att-val="news_image_url_2" alt="주보 3면 금주의 포토제닉"/>
    </div>
    <div class="img_news">
        <img sea-att="src" sea-att-val="news_image_url_3" alt="주보 4면 금주의 포토제닉"/>
    </div>
    
    <!-- <div class="img_news">
        <img sea-att="src" sea-att-val="news_image_url_4" alt="주보 5면 세상과 교회 빗장을 열다"/>
    </div> -->

    <div class="div_links">
        <div class="div_links_center">
            <a href="news/recent.html">
                <span sea-val="date"></span>
                <span>&nbsp;</span>
                <span>주보 보기</span>
            </a>
        </div>
    </div>
